@media screen and (max-width:1000px)
{
    nav{
            flex-direction: column;
            height: 240px;
            margin: -50px 0 -50px 0px;
            justify-content: center;
            align-items: center;
    }
    .search {
        justify-content: center;
        text-align: center;
        display: flex;
        margin: 0;
        padding: 0;
    }
    /* ---------------------------------------------main-------------------------------------------------------------- */
    
    input{
        width: 35vw;
        text-align: center;
        display: flex;
        justify-content: center;
        border-radius: 3px;
        font-family: 'Lato', sans-serif;
    }
    
    .slider{
        /* margin: 15px 0 0 25px; */
        display: flex;
        justify-content: center;
    }
    .slider img{
        display: flex;
        justify-content: center;
    }
    .cart{
        overflow: hidden;
    }
    .line{
        font-size: xx-small;   
    }

    .foot{
        text-align: center;
        font-size: 10px;
        /* font-weight: bold; */
        font-family: 'Lato', sans-serif;
    }
}